# CLERK
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# APP
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_API_URL=

# SUPABASE
SUPABASE_SECRET_KEY=
SUPABASE_BUCKET=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# EAS
EAS_WEBHOOK_SECRET=

# DATABASE
DATABASE_URL=
DIRECT_URL=

