name: Migrate PROD Prisma database
on:
  push:
    paths:
      - "src/apps/web/src/lib/database/prisma/migrations/**" # Fixed path
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      DIRECT_URL: ${{ secrets.DIRECT_URL }}
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install deps
        run: pnpm install --no-frozen-lockfile

      - name: Apply migrations
        run: npx prisma migrate deploy --schema=src/apps/web/src/lib/database/prisma/schema.prisma
